* {
    font-family: 'Raleway', sans-serif;
}

.container {
    border-width: 0 150px;
    border-color: #252525;
    border-style: solid;
    max-width: 100%;
    height: 1000px;
    margin: -10px;
    padding: 140px 80px;
}

.top-content {
    display: flex;
}

.bot-content {
    display: flex;
}

.top-border {
    border-style: solid;
    border-color: #8080804d;
    max-width: 100%;
    border-width: 0.8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mid-border {
    border-style: solid;
    border-color: #8080804d;
    max-width: 100%;
    border-width: 0.8px;
    margin-bottom: 20px;
    height: 200px;
}

.bot-content-right {
    float: right;
    padding-left: 50px;
}

.bot-content-left {
    min-width: 450px;
    max-width: 450px;
    display: flex;
    padding-top: 0px;
    padding-right: 26px;
}

i.fa.fa-angle-left {
    padding-right: 30px;
    color: #00bcd4f5;
}

div#judul-film {
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 7px;
    padding-top: 11px;
}

div#jadwal-film {
    font-weight: bold;
}

.top-content {
    padding-bottom: 11px;
}

.bot-content {
    padding-top: 25px;
}

.booking-seat-harga {
    display: flex;
}

div#booking-summary-title {
    padding-bottom: 35px;
    font-size: 20px;
    color: #525151cf;
    font-weight: bolder;
}

div#booking-jadwal-film {
    padding-bottom: 20px;
}

div#booking-seat {
    padding-right: 390px;
    font-weight: bold;
}

div#booking-harga {
    font-weight: bold;
    position: absolute;
    padding-left: 440px;
}

div#booking-judul-film {
    font-weight: bold;
}

button#booking-button {
    margin-top: 35px;
    width: 115px;
    height: 37px;
    margin-left: 420px;
    border-radius: 5%;
    background-color: #00bcd4f5;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.select-seats {
    margin-top: -13px;
}

.first-row-seats {
    display: flex;
}

.second-row-seats {
    display: flex;
}

.third-row-seats {
    display: flex;
}

.select-seats input{
    display: none;
}

label {
    font-weight: bolder;
    color: #00bcd4f5;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 23px;
    cursor: pointer;
    padding: 2px;
    margin: 15px 10px 3px 3px;
    font-size: 15px;
    border-radius: 10%;
    border-color: #00bcd4f5;
}

label#checked {
    color: gray;
    background-color: #8080804f;
    border-color: gray;
    cursor: initial;
}

#seats-1:checked ~ label[for="seats-1"],
#seats-2:checked ~ label[for="seats-2"],
#seats-3:checked ~ label[for="seats-3"],
#seats-4:checked ~ label[for="seats-4"],
#seats-5:checked ~ label[for="seats-5"],
#seats-6:checked ~ label[for="seats-6"],
#seats-7:checked ~ label[for="seats-7"],
#seats-8:checked ~ label[for="seats-8"],
#seats-9:checked ~ label[for="seats-9"],
#seats-10:checked ~ label[for="seats-10"],
#seats-11:checked ~ label[for="seats-11"],
#seats-12:checked ~ label[for="seats-12"],
#seats-13:checked ~ label[for="seats-13"],
#seats-14:checked ~ label[for="seats-14"],
#seats-15:checked ~ label[for="seats-15"],
#seats-16:checked ~ label[for="seats-16"],
#seats-17:checked ~ label[for="seats-17"],
#seats-18:checked ~ label[for="seats-18"],
#seats-19:checked ~ label[for="seats-19"],
#seats-20:checked ~ label[for="seats-20"],
#seats-21:checked ~ label[for="seats-21"],
#seats-22:checked ~ label[for="seats-22"],
#seats-23:checked ~ label[for="seats-23"],
#seats-24:checked ~ label[for="seats-24"],
#seats-25:checked ~ label[for="seats-25"],
#seats-26:checked ~ label[for="seats-26"],
#seats-27:checked ~ label[for="seats-27"],
#seats-28:checked ~ label[for="seats-28"],
#seats-29:checked ~ label[for="seats-29"],
#seats-30:checked ~ label[for="seats-30"] {
  background: #00bcd4f5;
  color: #fff;
}

div#booking-before-choose {
    margin-top: -22px;
    color: #9E9E9E;
    font-size: 13px;
}

div#screen-bar {
    border-style: solid;
    border-color: #9E9E9E;
    max-width: 90.5%;
    margin-top: 36px;
    margin-bottom: 20px;
    text-align: center;
    border-width: 15px;
    border-radius: 3px;
}

div#screen-text {
    position: absolute;
    padding-left: 172px;
    margin-top: -10.5px;
    color: white;
    font-size: 17px;
}

div#shows-film {
    display: none;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    height: 250px;
}

div.modal-content h1 {
    text-align: center;
    color: #008896e0;
    margin-top: 40px;
    font-size: 26px;
}

div.modal-content div {
    width: 274px;
    text-align: center;
    margin-left: 50px;
    padding-top: 11px;
    padding-bottom: 49px;
    font-weight: bold;
    font-size: 14px;
}

.close-button a {
    color: white;
}

.close-button {
    float: right;
    line-height: 1.75;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #00bcd4f5;
    margin-right: 70px;
    width: 250px;
    height: 45px;
    color: white;
    border: none;
    font-weight: bold;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

div#booking-seat-nomor {
    display: none;
}

div#IDAkun {
    display: none;
}