* {
    font-family: 'Raleway', sans-serif;
}

.container {
    border-width: 0 150px;
    border-color: #252525;
    border-style: solid;
    max-width: 100%;
    height: 1000px;
    margin: -10px;
    padding: 125px 30px 134px 55px;
}

img#film-image {
    width: 220px;
    height: 270px;
    padding: 35px 35px 27px 25px;
    border-radius: 14%;
}

.container .top-content {
    display: flex;
}

.top-right-content {
    padding-top: 60px;
}

div#judul-content {
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 13px;
}

div#genre-minute-content {
    font-size: 13px;
    color: #2196F3;
    padding-bottom: 10px;
    font-weight: bold;
    display: flex;
}

div#date-content {
    font-size: 13px;
    color: grey;
    padding-bottom: 10px;
    font-weight: bold;
}

div#rating-content {
    font-size: 17px;
    padding-bottom: 12px;
    display: flex;
    color: gray;
}

div#sinopsis-content {
    font-size: 16px;
    margin-right: 270px;
}

i.fa.fa-star {
    color: orange;
    padding-top: 4px;
}

div#rating-number {
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #000000a3;
    padding-right: 3px;
}

div#rating-max {
    padding-top: 5px;
    font-size: 13px;
}

div#genre-content {padding-right: 14px;}

div#minute-content {
    padding-left: 13px;
}

.bot-content {
    display: flex;
}

.bot-left-content {
    margin-top: 9px;
    margin-left: 25px;
    box-shadow: 0px 1px 15px -6px grey;
    height: min-content;
    width: 900px;
    padding: 30px 15px;
    max-width: 47%;
}

.bot-right-content {
    margin-top: 9px;
    margin-left: 25px;
    margin-right: 30px;
    box-shadow: 0px 1px 15px -6px grey;
    height: min-content;
    width: 500px;
    padding: 30px 15px;
    max-width: 47%;
}

div#schedules {
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom: 20px;
}

div#reviews {
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom: 15px;
}

table#schedule-table {
    padding-left: 3px;
    font-size: 12px;
}

td {
    color: gray;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px 25px 10px 15px;
    text-align: left;
}

td#available-seats {
    font-weight: bolder;
}

th {
    font-weight: 500;
}

div#reviews-list {
    display: flex;
}

img#image-review {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 20px;
}

ul#reviews-all {padding-left: 20px;} 

.rating-review {
    display: flex;
    padding-bottom: 5px;
}

div#username-review {
    padding-bottom: 5px;
}

div#isi-review {
    font-size: 12px;
}

div#border-bot {
    border-style: solid;
    border-color: #8080804d;
    max-width: 100%;
    border-width: 0.8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

td#status-seats-not-available {
    color: red;
}

td#status-seats-available {
    color: #03A9F4;
    padding-left: 31px;
    padding-right: 15px;
}

ul#reviews-all {
    list-style-type: none;
}

button.button-book {
    color: #03A9F4;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}