* {
    font-family: 'Lato',sans-serif;
}

.container {
    border-width: 0 150px;
    border-color: black;
    border-style: solid;
    max-width: 100%;
    height: 1000px;
    margin: -10px;
    padding: 150px 80px;
}

#user-text{
    margin-left: 10px;
}

#user-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: -40px;
    margin-bottom: 30px;
}

span#user-name{
    font-weight: bold;
    color: #03A9F4;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
  
.flex-container>div{
    background-color: white;
    height: 200px;
    width: 150px;
    margin-left: 10px;
    margin-right: 8.4px;
    margin-bottom : 9%;
    margin-top: 30px;
}

.flex-container img{
    width: 150px;
    height: 200px;
}

.desc {
    padding : 10px 1px;
    text-align: left;
    font-size: 13px;
    background-color: white;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    width:150px;
}

#poster-homepage{
    opacity: 10;
    height:200px;
    width: 150px;
    margin-left : 5px;
    margin-right : 13px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#text-homepage{
    margin-left : 3px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    word-wrap: break-word;
}

#rating-movie{
    height : 15px;
    width : 15px;
    margin-top : 3px;
    padding-left : 7px;
}

