input[type=text], input[type=password]{
    width: 310px;
    padding: 12px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 1px 1px #E5E4E2;
    border-radius: 4px;
}

button{
    background-color: deepskyblue;
    color: white;
    padding: 12px 12px;
    margin-top : 40px;
    border : none;
    cursor: pointer;
    width : 310px;
}

.box{
    background : white;
    width : 350px;
    height : 430px;
    border-radius:6px;
    border-style : solid;
    border-width: 0px 10px 0px 10px;
    margin-top : 8%;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : auto;
    padding: 20px 0px 20px 0px;
    border: none;
    box-shadow: 0 0 4px 4px #E5E4E2;
}

.text-center{
    text-align:center;
    font-family : "Comic Sans MS", sans-serif;
}

.container{
    padding:20px;
}

.error-message{
    margin-top : 20px;
    margin-bottom : 5px;
}

.alert-danger{
    font-size : 15px;
    color : red;
    text-align: center;
}

.engi{
    font-weight: 905;
}

#text-bottom{
    margin : 20px;
    font-size : 13px;
}

#register-text{
    color : deepskyblue;
}

