.navbar {
list-style-type: none;
box-shadow: 0px 1px 15px -6px grey;
height: 65px;
overflow: hidden;
margin-top: 0%;
top: 0px;
left: 0%;
background-color: #ffffff;
width: 100%;
position: fixed;
font-family: 'Lato', sans-serif;
}

.navbar li#engima{
float: left;
padding: 20px 0px 0px 200px;
font-size: larger;
}

.navbar li#search-bar{
float: left;
padding: 15px 0px 0px 91px;
}

.navbar li#transaction{
float: right;
padding: 24px 80px 0px 0px;
font-size: 13px;
font-weight: bold;
}

.navbar li#logout{
float: right;
padding: 24px 275px 0px 0px;
font-size: 13px;
font-weight: bold;
}

span#engi {
font-weight: bold;
color: #03A9F4;
}

span#ma {
font-weight: bold;
}

a {
text-decoration: none;
color:black;
}

input#search-input {
border-radius: 4px;
height: 28px;
width: 259px;
border: 1px solid gray;
outline: none;
}

li {
display: inline;
}

input {
padding: 0px 0px 0px 10px;
}

i.fa.fa-search {
padding: 0px 0px 0px 0px;
position: absolute;
left: 645px;
top: 25px;
}

.button-wrap form button{
border: none;
background: none;
outline: none;
cursor: pointer;
float: right;
}
