.text-center{
    text-align:center;
    font-family : "Comic Sans MS", sans-serif; 
}

.box{
    background : white;
    width : 400px;
    height : 740px;
    border-radius:6px;
    border-style : solid;
    border-width: 0px 10px 0px 10px;
    margin-top : 5%;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 5%;
    padding: 20px 0px 20px 0px;
    border: none;
    box-shadow: 0 0 4px 4px #E5E4E2;
}

.container{
    padding : 10px 25px 10px 25px;
    margin-top : 10px;
}

.text-label{
    margin-top : 25px;
    margin-bottom : 10px;
}

input[type="submit"]{
    background-color: deepskyblue;
    color: white;
    padding: 12px 12px;
    margin-top : 30px;
    border : none;
    box-shadow: 0 0 1px 1px deepskyblue;
    cursor: pointer;
    width : 350px;
}

button[type="btn"]{
    background-color: #D1D0CE;
    border: 1px solid #ccc;
    color: white;
    cursor:pointer;
    width: 50%;
    height: 35px;
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

input[type=text], input[type=password], input[type=tel]{
    width: 350px;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 1px 1px #E5E4E2;  
    border-radius: 4px;  
}

body{
    font-family: 'Lato', sans-serif;
}

#login-text{
    color : deepskyblue;
}

#text-bottom{
    margin : 20px;
    padding : auto;
    font-size : 12px;
}

#text-welcome{
    margin-top : 30px;
    margin-bottom : 5px;
}

#file-uploaded{
    width: 170px;
    height: 35px;
}

#engi{
    font-weight: 901;
}

.upload-container{
    overflow: hidden;
    position: relative;
}

.upload-container input[type=file]{
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    width: 170px;
    opacity: 0;
    position: absolute;
    right: 0px; 
    top: 0;
    left: 0px;
}