* {
    font-family: 'Fira Sans';
}

body {
    background-color: #262626;
}

table {
    box-sizing: border-box;
}

.outer {
    background-color: white;
    width: 69%;
    padding-right: 5%;
    padding-top: 11%;
    padding-left: 7%;
    padding-bottom: 5%;
    margin:auto;
}

.inner {
    margin-left: 200px;
}

th {
    text-align: left;
}

td {
    text-align: left;
}

p.title {
    font-size: xx-large;
}

img.button {
    height: 1em;
}

textarea {
    border-radius: 8px;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.fill-review {
    display: inline-block;
    float: none;
    margin-left: 0;
    width: 80%;
    min-height: 30px;
    box-sizing: border-box;
}

.submit {
    background-color:#00c1ec;
    color:white;
    text-align:center;
    border-radius:8px;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    margin-left:auto;
    margin-right:0;
    float:right;
}
.cancel {
    background-color:white;
    color:#959595;
    text-align:center;
    border-radius:8px;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    margin-left:auto;
    margin-right:0;
    float:right;
}

.submit:hover {
    background-color: #009abd;
}

