* {
    font-family: 'Raleway',sans-serif;
}

.container {
    border-width: 0 150px;
    border-color: black;
    border-style: solid;
    max-width: 100%;
    height: auto;
    min-height: 800px;
    margin: -10px;
    padding: 180px 80px;
}

.container #transaction {
    font-size: 22px;
    font-weight: bold;
    margin-top: -20px;
}

.container #showresult {
    font-size: 17px;
    color: gray;
    padding: 10px 0px 0px 0px;
    font-weight: 400;
}

.film-image {
    width: 100px;
    height: 125px;
    padding: 10px 0px;
}

.container #flex-container {
    display: flex;
}

.rightcontent #judul-content {
    font-weight: bold;
    padding: 30px 20px 1px 30px;
    font-size: 21px;
}

.rightcontent #rating-content {
    font-size: 15px;
    color: #7e7c7c;
    padding: 2px 5px 0px 10px;
    font-weight: bold;
}

.rightcontent #sinopsis-content {
    padding: 9px 280px 0px 30px;
    font-size: 15px;
}

i.fa.fa-star {
    padding: 5px 20px 5px 30px;
    color: #FFC107;
    display: flex;
}

ul {
    padding: 10px 0px 0px 0px;
}

.border-bottom {
    border-style: solid;
    border-color: #8080804d;
    max-width: 100%;
    border-width: 0.8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.view-details {
    font-size: 12px;
    float: right;
    display: flex;
    color: #03A9F4;
}

button.ref-details {
    color: #03bcf4;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    margin-top: -35px;
    font-size: inherit;
    font-weight: bold;
}

.fa-chevron-circle-right {
    padding: 2px 0px 0px 8px;
}

form {
    display: flex;
    justify-content: center;
}

i.fa.fa-chevron-circle-right {color: #03bcf4;margin-top: -25px;}

button.page-number {
    border-color: #00BCD4;
    border: solid 1px;
    padding: 5px;
    width: 25px;
    height: 25px;
    color: #03A9F4;
    margin: 0px 6px;
    background: white;
}

button.page-button {
    margin-left: 4px;
    margin-right: 4px;
    border: none;
    background: white;
    color: #03A9F4;
}