body {
    background:#262626;
    font-weight:bold;
    font-family:'Raleway',sans-serif;
    width:80%;
    margin:auto;
}
.board {
    background:white;
    /* margin:12px 12px 12px 12px; */
    /* margin:0px; */
    padding: 12px 12px 12px 24px;
    padding-top: 11%;
    font-size: 12px;
    padding-left: 7%;
    list-style: none
}
hr {
    color:#d1d1d1;
    margin:auto;
    /* width:90%; */
}
.type3 {
    box-sizing:border-box;
}
.submit {
    background-color:#00c1ec;
    border-radius: 3px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    margin-left: 93px;
    margin-right: 25px;
    padding-bottom: 25px;
    padding-top: 10px;
    width: 100px;
}
.submit:hover {
      background-color: #009abd;
}
.column1 {
    float:left;
}
.column1 > img {
    width:90px;
    height:120px;
    border:solid;
    border-radius:8px;
}
.column2 {
    float:left;
    padding-top: 50px;
    padding-left:30px;
    color:#00c1ec;
    font-size: 13px;
    font-weight:bold;
    padding-right: 100px;
    width:50%;
}
.column2 > a {
    color: black;
    text-decoration:none;
}
.column2 .submitted {
    color: #959595;
}
.row {
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
}
.row:after {
    content: "";
    display: table;
    clear:both;
}
.type4 > img {
    width:96px;
    height:128px;
    border-radius:8px;
    box-sizing:border-box;
}
.type5 {
    padding-right:16px;
    width:34.2%;
    max-width:34.2%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-transform: capitalize;
    margin: 0px 16px;
    box-sizing: border-box;
}
/* .background { */
/*     background-color:white; */
/*     padding: auto; */
/*     width:80%; */
/* } */
/* .list { */
/* } */

span.submitted {
    display: none;
}

button {
    height: 41px;
    margin-top: 85px;
    margin-left: 10px;
    width: auto;
    color: white;
    font-size: 10px;
    border: none;
    border-radius: 4px;
    padding: 5px 12px;
}

button.edit {
    background: #4caf50db;
}

button.delete {
    background: #ff0000ab;
}